* {
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - 100px);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #868B8E;
    color: #EEEDE7;
    height: 50px;
}

main {
    padding-top:10px;
    padding-bottom:10px;          
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #B9B7BD;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    gap: 1px;
    border-style: solid;
    background-color: #868B8E;
}

.grid-column {
    flex: 1;

    background-color: #868B8E;
    display: flex;
    flex-direction: column;
    gap: 1px;   
}

.grid-row {
    flex: 1;
    background-color: white;
    cursor: crosshair;
}

footer{
    background-color: #868B8E;
    color:#EEEDE7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
